<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Blank</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<@content for="js">
<script type="text/javascript">
	$(document).ready(function(){
		console.log('1');
	});
</script>
</@>


<@content for="js">
<script type="text/javascript">
	$(document).ready(function(){
		console.log('2');
	});
</script>
</@>

<@content for="js">
<script type="text/javascript">
	$(document).ready(function(){
		console.log('3');
	});
</script>
</@>