<@form controller="/stodo/login" action="signup" method="post">
	<form role="form">
	<div class="form-group">
		<label for="exampleInputEmail1">Name:</label>
		<input type="text" class="form-control" id="exampleInputName" placeholder="Enter name" name="fullname">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Username:</label>
		<input type="text" class="form-control" id="exampleInputName" placeholder="Enter username" name="username">
	</div>	
	<div class="form-group">
		<label for="exampleInputEmail1">Email:</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword2">Repeat Password</label>
		<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password_rep">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</@form>